<header>
    <div class="container">
        <div class="logo brand-inception">
            <a href="/">Robots-JU</a>
        </div>
        <ul class="main-menu">
            {% for link in site.main_menu %}
            {% assign current = nil %}
            {% if page.url == link.url %}{% assign current = 'active' %}{% endif %}
            {% if page.url == '/index.html' and link.url == '/' %}{% assign current = 'active' %}{% endif %}
            <li>
                <a href="{{ link.url }}" class="{{ current }}{% if link.atelier %} atelier{% endif %}">
                    {% if link.atelier %}<span class="atelier-text">Ateliers</span>{% endif %}
                    {{ link.title }}
                    {% if link.url contains '://' %}<i class="fa fa-external-link"></i>{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul class="member-menu">
            <li><a href="https://membres.robots-ju.ch/">Espace membres</a></li>
        </ul>
    </div>
</header>
