.sponsoring {
    background: $robotsju-color-lightgrey;

    .container {
        padding: 40px $grid-gutter-width / 2;

        @media (min-width: $screen-sm-min) {
            display: flex;
            align-items: center;
        }

        .thanks {
            width: 21em;
            max-width: 100%;
            padding-right: 40px;
            color: #666;

            a {
                color: #aaa;
            }
        }

        .sponsors {
            flex-grow: 1;
            list-style: none;
            margin: 0;
            padding: 0;

            @media (min-width: $screen-sm-min) {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            li {
                flex-grow: 1;
            }

            a {
                display: block;
                padding: 20px;
                text-align: center;

                &:hover {
                    background: rgba(black, 0.05);
                }

                img {
                    height: 80px;
                }
            }
        }
    }
}
