// Variables Robots-JU
$robotsju-color-green: #478a23;
$robotsju-color-white: white;
$robotsju-color-lightgrey: #f2f2f2;
$robotsju-color-darkgrey: #666;
$robotsju-color-black: #333;

// Variables bootstrap
$font-family-sans-serif: Roboto, Arial, sans-serif;
$brand-primary: $robotsju-color-green;
